<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration" />
	</configSections>
	<appSettings>
		<add key="serilog:minimum-level" value="Information" />
		<add key="serilog:using:RollingFile" value="Serilog.Sinks.RollingFile" />
		<add key="serilog:write-to:RollingFile.pathFormat" value="e:\temp\log-{Date}.txt" />
	</appSettings>
	<connectionStrings>
		<add name="of.mongodb" connectionString="mongodb://localhost/cinnamon" />
	</connectionStrings>
	<system.web>
		<customErrors mode="Off" />

		<compilation debug="true" targetFramework="4.6.1" />
		<httpRuntime targetFramework="4.6.1" />
	</system.web>
	<system.webServer>
		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
	</system.webServer>
	<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
		<namespace name="of.data" />
		<typeAliases>
			<typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
			<typeAlias alias="external" type="Microsoft.Practices.Unity.ExternallyControlledLifetimeManager, Microsoft.Practices.Unity" />
			<typeAlias alias="transient" type="Microsoft.Practices.Unity.TransientLifetimeManager, Microsoft.Practices.Unity" />

			<typeAlias alias="ISettingStore" type="of.support.configuration.data.ISettingStore, of.support, Version=0.1.1, Culture=neutral" />
			<typeAlias alias="SettingStore" type="of.support.configuration.data.MongoDbSettingStore, of.support.mongodb, Version=0.1.1, Culture=neutral" />

			<typeAlias alias="ISettingManager" type="of.support.configuration.ISettingManager, of.support, Version=0.1.1, Culture=neutral" />
			<typeAlias alias="SettingManager" type="of.support.configuration.SettingManager, of.support, Version=0.1.1, Culture=neutral" />

			<typeAlias alias="ILogManager" type="of.support.diagnostics.ILogManager, of.support, Version=0.1.1, Culture=neutral" />
			<typeAlias alias="LogManager" type="of.support.diagnostics.LogManager, of.support, Version=0.1.1, Culture=neutral" />

			<typeAlias alias="IFileManager" type="of.support.io.IFileManager, of.support, Version=0.1.1, Culture=neutral" />
			<typeAlias alias="FileManager" type="of.support.io.MongoDbFileManager, of.support.mongodb, Version=0.1.1, Culture=neutral" />
		</typeAliases>
		<containers>
			<container>
				<register type="ISettingStore" mapTo="SettingStore">
					<lifetime type="singleton"></lifetime>
				</register>
				<register type="ISettingManager" mapTo="SettingManager">
					<lifetime type="singleton"></lifetime>
				</register>
				<register type="ILogManager" mapTo="LogManager">
					<lifetime type="singleton"></lifetime>
				</register>
				<register type="IFileManager" mapTo="FileManager">
					<lifetime type="singleton"></lifetime>
					<constructor>
						<param name="connectionStringName" value="of.mongodb" />
					</constructor>
				</register>
				<register type="of.data.MongoDbContext, of.mongodb, Version=1.0.0.0, Culture=neutral">
					<lifetime type="singleton"></lifetime>
					<constructor>
						<param name="connectionStringName" value="of.mongodb" />
						<param name="assemblyPrefixes">
							<array>
								<value value="of" />
								<value value="IdentityServer3" />
							</array>
						</param>
					</constructor>
				</register>
			</container>
		</containers>
	</unity>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.20622.1351" newVersion="4.0.20622.1351" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.1.1" newVersion="4.1.1.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>